@using Project_Manager.DTOs
@model List<ProjectDTO>

@{
    ViewData["Title"] = "Список проектов";
    ViewData["SortColumn"] = ViewData["SortColumn"] ?? "Name";
    ViewData["SortDirection"] = ViewData["SortDirection"] ?? "asc";
}

<h2>Список проектов</h2>

<p>
    <a asp-action="StartWizard" class="btn btn-primary">Добавить проект</a>
</p>

<div id = "projectsTableContainer"style="max-height: 500px; overflow-y: auto;">
    @await Html.PartialAsync("ProjectsTable", Model)
</div>

<!-- AJAX script for sorting  -->
@section Scripts {
    <script>

        let currentSortColumn = '@ViewData["SortColumn"]';
        let currentSortDirection = '@ViewData["SortDirection"]';

        //Tracks clicks on any element with class .sort-link
        $(document).on('click', '.sort-link', function(e){
            //Cancels page reload
            e.preventDefault();

            // Get column from clicked link
            let column = $(this).data('column');

            //If clicked on same column, invert direction.
            if(column === currentSortColumn){
                currentSortDirection = currentSortDirection === 'asc' ? 'desc' : 'asc';
            } else { //Otherwise sort by new column, default direction is asc
                currentSortColumn = column;
                currentSortDirection = 'asc';
            }

            //Sends GET request to ProtectsTablePartial
            $.get('@Url.Action("ProjectsTablePartial")',
                   { sortColumn: currentSortColumn, sortDirection: currentSortDirection },
                   function(data){
                       $('#projectsTableContainer').html(data); //Changes projectsTableContainer content to new HTML
            });
        });
    </script>
}
